<div class="card">
    <div class="img-1">
        <img src="../../assets/Laptop2.png" alt="post-image" class="card-img-top">
    </div>
    <div class="card-body">
        <div class="line-1" >
            <button id="cardadd" [routerLink]="['/add-card']">Add to Card</button> 
            <button id="cardview" [routerLink]="['/viewmore']">View More</button>
        </div>
        <div class="line-2">
            <button id="cardbuy" class="text-danger">Buy Now</button>
        </div>
        <h5 class="mt-4">MacBook Air with M1 chip</h5>
        <p>model: "Apple MacBook Air"</p>
        <small class="bg-light text-warning text-center ml-3"> LAST-UPDATED - FEB 20,2024</small>
    </div>
</div>
