<div class="d-flex flex-row flex-wrap justify-content-center">
    <div class=" mt-3 mx-1" style="width:280px; " *ngFor="let item of data">
    <div class="card " >
        <div class="img-container ">
            <img src="{{item.url}}" alt="post-image" class="img-fluid object-fit-fill ">
        </div>
        <div class="card-body">
            <div class="line-0">
                <h5 class="mt-4">{{item.name}}</h5>
                <p>model:{{item.model}}</p>
                <small class="bg-light  text-center ml-3">{{item.update}}</small>
            </div>
            <div class="line-1" >
                <button id="cardadd" class="btn btn-sm btn-dark mt-2" (click)="addtoCart(item)"><i class="fa fa-cart-plus mr-2"></i>&nbsp;Add to Card</button> 
                <button id="cardview"  class="btn btn-sm btn-dark mt-2" (click)="handleOpenViewmore(item.id)" ><i class="fa fa-soild fa-info mr-2"></i>&nbsp;View More</button>
            </div>
            <div class="line-2">
                <button id="cardbuy" class="btn btn-sm btn-warning mt-4">Buy Now</button>
            </div>
        </div>
    </div>
</div>

</div>
