.card:hover{
    box-shadow: 0 4px 8px rgba(0.1, 0.2, 0.1, 0.2);
}
#cardadd {
    color: black;
    border-radius: 2px;
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
}
#cardadd:hover{
    background-color: #f4f4cad4;
    color:Black;
    font-size: 10.7pt;
}
#cardview {
    color: black; 
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
    margin-left:2.5rem;
}
#cardview:hover{
    background-color: #f4f4cad4;
    color:Black;
    font-size: 10.7pt;
}

#cardbuy{
    // background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
    margin-top: 10px;
    width: 245px;
    // margin-left: 90px;
}
#cardbuy:hover{
    // background-color: #f4f4cad4;
    color:Black;
    font-size:11pt;
}

.img-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 290px; 
}
.line-0{
    padding-bottom: 20px;
    padding-top: 0px;
}