
@import "../app.component.scss";

.header {
    width: calc(100% - 5rem);
    margin-left: 2rem;
    z-index: 1;
    position: fixed;
    padding: 1rem 2rem 1rem 2rem;
    transition: all .5s ease;
    background: #f4f7fa;
    top: 0;

    .header-content {
        background-color: #fff;
        border-radius: 0.625rem;
        box-shadow: 0px 0px 8px 0px rgb(34 41 47 / 10%);
        padding: 0.813rem 1.563rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        .class-hidden {
            animation: hidden_anim 200ms ease-in-out forwards;
            cursor: default;
        }

        .class-visible {
            animation: visible_anim 700ms ease-in-out forwards;
        }

        .header-content-left {
            .search-container {
                position: relative;
                

                .normal-search {
                    .search {
                        border: none;
                        height: 2.5rem;
                        padding-left: 2.5rem;
                        padding-right: 1.25rem;
                        background-color: #f3f3f9;
                        box-shadow: none;
                        border-radius: 1.875rem;
                        outline: 0;
                    }

                    .search-icon {
                        position: absolute;
                        font-size: 1rem;
                        line-height: 2.375rem;
                        left: 0.813rem;
                        top: 0;
                        color: #74788d;
                        bottom: 1rem;
                    }
                }

                .search-menu-btn {
                    font-size: 18px;
                    height: 42px;
                    width: 42px;
                    cursor: pointer;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    outline: 0;
                }

                .search-menu-btn:hover,
                .search-menu-btn:focus {
                    .search-icon {
                        color: #699dfa;
                    }
                }
            }
        }

        .header-content-center {

            display: flex;
            align-items: center;

            .logo-image {
                animation: visible 700ms ease-in-out forwards;
                align-items: center;
                height: 40px;
                margin-right: 5rem;
              }

            .logo-image-hidden {
                animation: hidden_anim 700ms ease-in-out forwards;
            }

            .logo-image-visible {
                animation: visible_anim 700ms ease-in-out forwards;
            }
        }

        .header-content-right {
            display: flex;
            align-items: center;

            .header-menu {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 1.25rem;

                .header-menu-item {
                    .header-menu-item-btn {
                        font-size: 18px;
                        height: 42px;
                        width: 42px;
                        cursor: pointer;
                        border: 1px solid transparent;
                        border-radius: 50%;
                        margin-top: 15px;
                        outline: 0;
                        color: #495057;
                        transition: 275ms all ease-in-out;

                        .flag {
                            height: 17px;
                            border-radius: 3px;
                            margin-top: 2px;
                        }
                    }

                    .header-menu-item-btn:hover {
                      transform: scale(1.2);
                      animation: btnHover 200ms ease-in-out;
                    }

                    .header-menu-item-btn:active {
                        animation: btnPress 200ms ease-in-out;
                    }

                    .header-menu-item-btn:hover,
                    .header-menu-item-btn:focus {
                        background-color: #eff2f3;

                        .menu-icon {
                            color: #699dfa;
                        }
                    }
                }
            }

            .header-user-avatar-container {
                margin-left: 20px;
                transition: 275ms all ease-in-out;

                .header-user-avatar {
                    position: relative;

                    .user-avatar {
                        margin-bottom: -4px;
                        width: 50px;
                        border-radius: 10px;
                        box-shadow: 0 0 15px rgb(35 35 35 / 15%);
                        cursor: pointer;
                    }
                }

                .circle-indicator {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                    top: -2px;
                    right: -3px;
                    background: #699dfa;

                    &.pulse {
                        animation: pulse-animation 1.2s infinite;
                    }
                }
            }

            .header-user-avatar-container:hover {
                transform: scale(1.2);
                animation: btnHover 200ms ease-in-out;
            }

            .header-user-avatar-container:active {
                animation: btnPress 200ms ease-in-out;
            }
        }
    }
}

.header-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.header-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}


.overlay {
    background: #fff;
    margin-top: 10px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
    border-radius: 0.25rem;
}

.centered-overlay {
    position: fixed;
    top: 35%;
    left: 45%;
    z-index: 999;
}

.overlay-fall {
    animation: fall 300ms ease-in-out forwards;
    transform-origin: top center;
}
