#cardadd {
    color: black;
    border-radius: 2px;
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
}
#cardadd:hover{
    background-color: #f4f4cad4;
    color:Black;
    font-size: 10.7pt;
}
#cardbuy{
    // background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
    margin-top: 10px;
    margin-left: 20px;
}
#cardbuy:hover{
    // background-color: #f4f4cad4;
    color:Black;
    font-size:11pt;
}
