#cardadd {
    color: black;
    border-radius: 2px;
    background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
}
#cardadd:hover{
    background-color: #f4f4cad4;
    color:Black;
    font-size: 10.7pt;
}
#cardbuy{
    // background-color: #f3f3f9;
    box-shadow: none;
    border-radius: 0.6rem;
    outline: 0;
    margin-top: 10px;
    margin-left: 20px;
}
#cardbuy:hover{
    color:Black;
    font-size:11pt;
}
.img-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    width:250px;
    margin-top:40px;
    margin-left: 120px;
}
.card-body{
    margin-top:50px;
    max-width:500px;
    margin-left:5px;
}
.btn-content{
  margin-top: 80px;
  margin-left: 140px;
}
