<div style="width:800px; height:500px;" *ngIf="product">
  <div class="img-container">
    <img src="{{product.imageUrl}}" alt="post-image" class="img-fluid object-fit-fill">
  </div>
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5><br>
    <p>{{product.description}}</p>
    <p class="card-text">MacBook Pro blasts forward with the M3, M3 Pro, and M3 Max chips. Built on 
      3‑nanometer technology and featuring an all-new GPU architecture, they’re the most advanced 
      chips ever built for a personal computer. And each one brings more pro performance and capability.</p>
    <div class="btn-content">
      <button id="cardadd" class="btn btn-sm btn-dark mt-2"><i class="fa fa-cart-plus mr-2"></i>&nbsp;Add to Card</button> 
      <button id="cardbuy" class="btn btn-sm btn-warning mt-2">Buy Now</button>
    </div>
  </div>
</div>
