<ng-container *ngIf="product.length !=0">
   <div class="container">
     <div class="card-table">
        <div class="cart-product">
           <table class="table table-responsive">
               <thead>
                  <tr>
                      <th>Asset Name</th>
                      <th>Asset Image</th>
                      <th>Type</th>
                      <th>Price</th>
                      <th>Action</th>
                  </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let item of product; let i =index">
                      <td class="mt-2">{{item.name}}</td>
                      <td><img src="{{item.imageUrl}}" alt="post-image" class="img-fluid img-thumbnail object-fit-fill mw-50 mh-25"></td>
                      <td>{{item.assetType}}</td>
                      <td>{{item.price}}</td>
                      <td>
                         <button (click)="removeItem(item)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                      </td>
                  </tr>
               </tbody>
           </table>
        </div>
    </div>
   </div>
</ng-container>

<ng-container *ngIf="product.length ==0">
    <div class="container1">
        <div class="card">
            <h3>My Cart</h3>
        </div>
        <div class="center">
            <img src="" alt="">
            <h4>Your Cart is Empty!</h4>
            <h6>Add item to it now</h6>
            <button class="btn btn-primary">Shop Now</button>
        </div>
    </div>
</ng-container>