<div class="card">
    <div class="img-1" id="img-new-1">
        <img src="../../assets/Asus Rog.webp" alt="post-image" class="card-img" style="height:200px; ">
    </div>
    <div class="card-body">
        <div class="line-1">
            <button id="cardadd" [routerLink]="['/add-card']" >Add to Card</button> 
            <button id="cardview">View More</button>
        </div>
        <button id="cardbuy" class=" text-danger">Buy Now</button>

        <h5 class="mt-4">Asus Rog Strix R7-6800H</h5>
        <p>model: "Asus Rog Strix"</p>

        <small class="bg-light text-warning text-center ml-3"> LAST-UPDATED - FEB 20,2024</small>
    </div>
</div>
