#form-1{
    background-color: rgb(202, 243, 239);
    // margin-left: 24rem;
}
.btn-theme{
     height: 50px;
     width: 140px;
     border: none;
     font-size: 13px;
}

.inc{
    border:1px solid black;
}