<div class="container">
    <div class="row">
        <div class="col-md-12  shadow-effect" style="width:500px; height:25rem;" id="form-1">
            <h3 class="text-center">Add to Card</h3>
            <p class="text-center mb-5"> You Can add new Card from here ...!</p> 
            <P>new card</P>
            <form class="form-inline text-center">
                <div class="col-ma-2">
                    <button href="#" class="btn btn-block btn-info mb-2 btn-theme">Add to Card</button>
                </div>
            </form>
        </div>
    </div>
</div>
