<div class="container">
    <div class="row">
        <div class="col-md-12  shadow-effect" style="width:500px; height:25rem;" id="form-1">
            <div class="content">
                <h3 class="text-center">Add to Card</h3>
                <p class="text-center mb-5"> You Can add new Card from here ...!</p> 
                <form class="form-inline text-center">
                    <div class="col-ma-2">
                        <button href="#"  id="newadd" class="btn btn-block btn-info mb-2"><i class="fa fa-cart-plus mr-2"></i>&nbsp;Add to Card</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
